<h2>@ViewBag.thongbao</h2>

<form class="w3-container w3-card-4 w3-light-grey" asp-action="Index">
  <label>Full name</label> 
  <input class="w3-input w3-border w3-round-large" type="text" name="FullName">
  <input type="submit" value="Send">
</form> 